body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  header {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #B3E5FC;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .header-left {
    display: flex;
  }
  
  .login-button,
  .signup-button {
    margin-right: 10px;
    background-color: #4FC3F7;
    color: #000000;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
  }

  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }

  form {
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #4FC3F7;
    color: #000000;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
  }

  .or-separator {
    margin: 20px 0;
    position: relative;
  }

  .or-separator::before,
  .or-separator::after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .or-separator::before {
    left: 0;
  }

  .or-separator::after {
    right: 0;
  }

  .gmail-login {
    background-color: #dc4e41;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
  }
