* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* Restante do seu código continua aqui... */

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background: #B3E5FC;
}

.icon-header{
    width: 100%;
    height: 130px;
}

#divBusca{
    background-color:#ffffff;
    width:300px;
    height:32px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-family:inknut antiqua;
    font-size:15px;
    border:none;
    height:32px;
    width:250px;
  }
  
  #btnBusca{
    border:none;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#67B6C9;
    text-decoration: none;
    font-size: 15px;
  }

  #divBusca img{
    float:right;
  }

.user-actions button {
    margin-left: 8px;
    padding: 8px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('imgs/background2.png');
}

.receitas-destaque {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    gap: 5px;
}

.destaque {
    display: inline-flex;
    gap: 0.5px;
}

.dest1 {
    max-width: 45%; /* Garante que as imagens não ultrapassem a largura do contêiner pai */
    height: auto;
    border: 2px solid black; /* Cor branca com 50% de transparência */
    border-radius: 10px;
}

h4{
    margin-top: 5px; /* Ajuste a margem conforme necessário */
}

.receitas-recente {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.recem {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5px;
}

.recem1 {
    max-width: 45%; /* Garante que as imagens não ultrapassem a largura do contêiner pai */
    height: auto;
    border: 2px solid black; /* Cor branca com 50% de transparência */
    border-radius: 10px;
}

.categoria-bloco {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px; /* Ajuste o padding conforme necessário */
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.categoria-ip{
    display: flex;
}

.categoria-ip h2{
    align-self: center;
    padding: 5px;
    padding-top: 20px;
}

.categoria {
    margin-bottom: 10px;
}

.subcategoria {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

.subc-item {
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
}

.container-cat{
    display: flex;
}

.categoria-icon{
    width: 70px;
    height:auto;
    padding: 5px;
}

.rodape {
    width: 100%;
    height: 90px;
    background-color: rgb(179, 229, 252);
    font-size: 10px;
    display: flex; 
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
}